<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Update route</title>
	</head>

	<body>
		<form th:method="PATCH" th:action="@{/trams/{id}(id=${route.getId()})}"
			th:object="${route}">
			<label for="code">Enter code: </label>
			<input type="text" th:field="*{code}" id="code" />
			<div style="color: red" th:if="${#fields.hasErrors('code')}"
				th:errors="*{code}">Error's code</div>
			<br />
			<label for="name">Enter name: </label>
			<input type="text" th:field="*{name}" id="name" />
			<div style="color: red" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">Error's name</div>
			<br />
			<hr />
			<input type="submit" value="Update" />
		</form>
		<br />
		<form th:method="GET" th:action="@{/trams/{id}(id=${route.getId()})}"
			th:object="${route}">
			<input type="submit" value="Cancel" />
		</form>
	</body>

</html>