<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Trams</title>
	</head>

	<body>
		<p th:if="${routes.size() == 0}"
		   th:text="${'There is no routes yet, please create new one!'}">no root</p>
		<div th:each="route : ${routes}">
			<a th:href="@{/trams/{id}(id=${route.getId()})}"
			   th:text="${route.getId() + ', ' + route.getCode() + ', ' + route.getName()}">root</a>
		</div>
		<br />
		<hr />
		<form th:method="GET" th:action="@{/trams/new}">
			<input type="submit" value="Create new route" />
		</form>
	</body>

</html>