<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Root</title>
	</head>

	<body>
	    <p th:text="${'Id of route: ' + route.getId()}">Person's id</p>
		<p th:text="${'Code of route: ' + route.getCode()}">Person's code</p>
		<p th:text="${'Name of route: ' + route.getName()}">Person's name</p>
		<hr />
		<form th:method="GET"
			th:action="@{/trams/{id}/edit(id=${route.getId()})}">
			<input type="submit" value="Edit" />
		</form>
		<br />
		<form th:method="DELETE" th:action="@{/trams/{id}(id=${route.getId()})}">
			<input type="submit" value="Delete" />
		</form>
		<br />
		<form th:method="GET" th:action="@{/trams}">
			<input type="submit" value="Root's list" />
		</form>
	</body>

</html>